In [5]:
import os
import pandas as pd

In [58]:
PROJECT_PATH = os.path.dirname(os.getcwd())
DATASET_PATH = os.path.join(PROJECT_PATH,'data/processed/testing_data.csv')
OBSERVATION_PATH = os.path.join(PROJECT_PATH,'data/processed/MSFT_1year_feat.csv') 
NEW_DATASET_PATH = os.path.join(PROJECT_PATH,'data/processed/clean_testing_data.csv')

In [80]:
def import_dataset(PATH):
    df = pd.read_csv(PATH)
    df['time'] = pd.to_datetime(df['time'])
    df.sort_values(by=['time'],inplace=True)
    df.dropna(inplace=True)
    df.reset_index(drop=True,inplace=True)
    return df

In [8]:
df = pd.read_csv(DATASET_PATH)

In [14]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,action_tup,reward
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[0. 1.],100000.000000
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[0.58368075 1. ],99765.968750
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[1.2132294 0. ],99659.414062
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[0.5975496 1. ],99739.812500
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[0. 1.],99620.156250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,0.1405,5.400000e-07,0.1405,-0.000002,0.4963,0.1409,0.1415,0.1407,0.1399,0.000089,0.000047,0.0,NaN,NaN
41540,0.1405,5.400000e-07,0.1405,-0.000002,0.4963,0.1409,0.1415,0.1407,0.1399,0.000089,0.000047,0.0,NaN,NaN
41541,0.1405,5.400000e-07,0.1405,-0.000002,0.4963,0.1409,0.1415,0.1407,0.1399,0.000089,0.000047,0.0,NaN,NaN
41542,0.1405,5.400000e-07,0.1405,-0.000002,0.4963,0.1409,0.1415,0.1407,0.1399,0.000089,0.000047,0.0,NaN,NaN
41543,0.1405,5.400000e-07,0.1405,-0.000002,0.4963,0.1409,0.1415,0.1407,0.1399,0.000089,0.000047,0.0,NaN,NaN

In [74]:
#Concatenation did not exactly work properly... recreate the two dataframes
action_reward = df.loc[ (df['0'].isna())==True,:].dropna(axis=1).reset_index(drop=True)

In [75]:
action_reward.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20772 entries, 0 to 20771
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   action_tup  20772 non-null  object
 1   reward      20772 non-null  float64
dtypes: float64(1), object(1)
memory usage: 324.7+ KB

In [81]:
observation = import_dataset(OBSERVATION_PATH)

In [82]:
observation = observation[0:20772].reset_index(drop=True )

In [89]:
joint = action_reward.merge(observation,left_index=True,right_index=True)
joint

,action_tup,reward,time,open,high,low,close,volume,MA,TEMA,OBV,CCI,HT_TRENDLINE,BBAND_u,BBAND_m,BBAND_l,MOM,ATR,RSI
0,[0. 1.],100000.000000,2020-03-16 06:05:00,140.521783,140.571279,140.442587,140.442587,1182,140.451827,140.846446,-4791.0,-46.986470,140.471084,141.536259,140.733629,139.931000,0.089094,0.233371,49.642170
1,[0.58368075 1. ],99765.968750,2020-03-16 06:09:00,140.195103,140.224801,140.115908,140.115908,930,140.474595,140.748113,-5721.0,-111.302270,140.483121,140.984098,140.468326,139.952554,-0.930542,0.240036,44.279147
2,[1.2132294 0. ],99659.414062,2020-03-16 06:10:00,140.056511,140.155505,140.016914,140.016914,1208,140.456777,140.642642,-6929.0,-119.238613,140.491227,140.702355,140.294097,139.885838,-0.851347,0.232790,42.771217
3,[0.5975496 1. ],99739.812500,2020-03-16 06:11:00,140.145606,140.145606,140.145606,140.145606,308,140.451827,140.572525,-6621.0,-97.355191,140.497348,140.515325,140.208962,139.902599,-0.722655,0.225355,45.375553
4,[0. 1.],99620.156250,2020-03-16 06:12:00,139.977316,139.977316,139.977316,139.977316,100,140.441927,140.479758,-6721.0,-115.321923,140.498961,140.466820,140.139666,139.812513,-1.029536,0.221278,42.642693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20767,[0. 0.],109396.148438,2020-04-22 13:29:00,170.774306,170.883199,170.769356,170.843502,37931,170.558479,170.792068,-4354904.0,112.665858,170.615658,170.869352,170.785076,170.700801,0.301832,0.106577,66.224733
20768,[1.2253942 0.57903177],109400.226562,2020-04-22 13:30:00,170.843601,170.902998,170.779255,170.848551,25346,170.570854,170.817189,-4329558.0,105.903407,170.624994,170.892900,170.804875,170.716850,0.351428,0.107803,66.463160
20769,[1.6720713 1. ],109398.828125,2020-04-22 13:31:00,170.843601,170.962394,170.799054,170.808954,58604,170.579598,170.831216,-4388162.0,100.171608,170.633076,170.873428,170.819823,170.766218,0.193038,0.111770,62.723260
20770,[0. 1.],109398.828125,2020-04-22 13:32:00,170.808954,170.838652,170.714909,170.734708,39232,170.589497,170.829230,-4427394.0,27.429859,170.650290,170.887948,170.802004,170.716060,0.079195,0.112625,56.323621
20771,[0. 1.],109339.429688,2020-04-22 13:33:00,170.714909,170.719859,170.670362,170.675312,29439,170.597087,170.815940,-4456833.0,-42.455192,170.664521,170.916539,170.782205,170.647872,-0.064346,0.109176,51.772670

In [100]:
joint['action_1'] = joint['action_tup'].str.replace(r'[^0-9\.\ +]','').str.split().str[0]
joint['action_2'] = joint['action_tup'].str.replace(r'[^0-9\.\ +]','').str.split().str[1]

In [107]:
joint['action_1'] = joint['action_1'].str.replace(r'[\+]+','').astype(float)
joint['action_2'] = joint['action_2'].str.replace(r'[\+]+','').astype(float)

In [110]:
joint['action_2']

0        1.000000
1        1.000000
2        0.000000
3        1.000000
4        1.000000
           ...
20767    0.000000
20768    0.579032
20769    1.000000
20770    1.000000
20771    1.000000
Name: action_2, Length: 20772, dtype: float64

In [118]:
joint['action_str'] = 'hold'
joint.loc[ (joint['action_1'] < 2),'action_str' ] = 'sell'
joint.loc[ (joint['action_1'] < 1),'action_str'] = 'buy'

In [125]:
joint['action_str'].value_counts()

buy     14021
sell     4710
hold     2041
Name: action_str, dtype: int64

In [126]:
joint.to_csv(NEW_DATASET_PATH,index=False)

In [72]:
#d = {'0':'close','1':'volume','2':'MA','3':'OBV','4':'RSI','5':'TEMA','6':'BBAND_u','7':'BBAND_m','8':'BBAND_l','9':'MOM','10':'balance-to-max','11':'shares-to-max'}
#action_reward = action_reward.rename(d,axis=1)